
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;

    color: #333;
    line-height: 1.4;
}


.header {
    background-color:rgb(17, 17, 17);
    color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgb(129, 129, 128);
    border-radius: 20px;
    border: none;
}

.Foto_inicial {
    width: 1300px;
    height: 600px;
}

.logo {
    color: rgb(12, 178, 207);
    font-size: 26px;
    font-weight: bold;
    padding-left: 35px;
}

.menu a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: rgb(12, 178, 207);
}


.hero {
    background-color: #555555;
    
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
}

.subtitulo {
    font-size: 18px;
    margin-top: 10px;
}


.secao {
    padding: 50px 20px;
    text-align: center;
}

.secao h2 {
    font-size: 28px;
    margin-bottom: 30px;
}


.carros-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap; 
}

.card {
    background-color: rgb(129, 129, 128);
    height: 325px;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px #00000020;
    transition: transform .3s;
}

.card:hover {
    height: 100%;
    transform: scale(1.05);
}


.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h3 {
    color: white;
}

p {
    color: white;
}


.footer {
    background: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

.header img {
    padding: 0;
    width: 126px;
    animation: piscar 3s infinite;
}

.hero img {
    width: 100%;
    background: #111;
    animation: luzes_imagem 3s infinite;
    
}

@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes luzes_imagem {
    0% {box-shadow: 0 0 5px #0ff;}
    50% {box-shadow: 0 0 30px #0ff;}
    100% {box-shadow: 0 0 5px #0ff;}
}

.descricao p{
    
    color: transparent;
}

.card:hover .descricao p {
    padding: 15px;
    transition: 1s;
    color:  white;
    font-size: bold;
    bottom: 0;

}
@media (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .carros-grid {
        flex-direction: column;
        align-items: center;
    }

    .hero h2 {
        font-size: 30px;
    }
}
