
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;

    color: #333;
    line-height: 1.4;
}


.header {
    background-color:rgb(17, 17, 17);
    color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: rgb(12, 178, 207);
    font-size: 26px;
    font-weight: bold;
}

.menu a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: rgb(12, 178, 207);
}


.hero {
    background-color: #555555;
    
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
}

.subtitulo {
    font-size: 18px;
    margin-top: 10px;
}


.secao {
    padding: 160px 20px;
    text-align: center;
}

.secao h2 {
    font-size: 28px;
    margin-bottom: 30px;
}



.tabela-bg {
    background: rgb(15, 96, 189);
}

.tabela {
    width: 855px;
    margin: auto;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    padding: 10px;
    border: 1px solid #000;
    background: white;
}
.footer {
    background: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

.header img {
    padding: 0;
    width: 126px;
    animation: piscar 3s infinite;
}
@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


@media (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .carros-grid {
        flex-direction: column;
        align-items: center;
    }

    .hero h2 {
        font-size: 30px;
    }
}
